<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Olix Panel</title>
</head>
<body>

<nav class="bg-gray-800 py-4">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <a href="/" class="text-lg text-white hover:text-gray-300 font-bold">Olix Panel</a>
        <ul class="flex justify-center">
            <li class="mr-6">
                <a href="/" class="text-lg text-white hover:text-gray-300">Dashboard</a>
            </li>
            <li class="mr-6">
                <a href="/pull" class="text-lg text-white hover:text-gray-300">Pull Model</a>
            </li>
        </ul>
    </div>
</nav>